.cardOuter {
  background-color: #f1f1f1;
  /* margin: 6rem 10rem 0 16rem; */
  margin: 6rem auto;
  width: 40rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.nameLabel {
  font-size: 22px;
  font-weight: 600;
  font-family: "Nunito";
}

.acc_label {
  font-size: 17px;
  font-weight: 500;
  font-family: "Nunito";
  color: #6c6c6c;
}

.reps_label {
  font-size: 17px;
  font-weight: 500;
  font-family: "Nunito";
}

.uderlineTxt {
  text-decoration: none;
}

.BackBtn {
  background-color: #f1f1f1;
  /* margin-top: 6rem ; */
  margin: 1rem auto 0 auto;
  width: fit-content;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  font-size: 18px;
  font-family: "Nunito";
  font-weight: 500;
  cursor: pointer;
}
